{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="background">
            <img src="{{ asset('img/CarteMereIA.png') }}" alt="carte mère IA" class="desktop-background">
            <img src="{{ asset('img/tableauIA.png') }}" alt="tableau connexion IA" class="mobile-background">
        </div>
        <div class="d-flex justify-content-center">
            <div class="border border-0 rounded p-4 form-custom">
                <h3 class="display-6 text-center">Se connecter</h3>
                <br>
                <div>
                    <label for="inputEmail"></label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" placeholder="email" required autofocus>
                </div>
                <div class="pt-3">
                    <label for="inputPassword"></label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" placeholder="mot de passe" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <br>
                <a class="blue-link" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>

                <div class="pt-3">
                    <div class="form-check pt-3">
                        <input type="checkbox" name="_remember_me" class="form-check-input" id="_remember_me">
                        <label class="form-check-label" for="_remember_me">
                            Se souvenir de moi
                        </label>
                    </div>
                    <button class="btn btn-primary submit-button" type="submit">
                        <connexion>Connexion</connexion>
                    </button>
                    <button class="btn btn-primary submit-button" type="button">
                        <a class="nav-link" href="{{ path('app_profil_creer') }}">Inscription</a>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
