{% extends 'base.html.twig' %}

{% block title %}Studio Little Dreams{% endblock %}

{% block body %}
    <header>
        <div class="div-banniere">
            <img src="{{ asset('img/BanniereLittleDreamsSansLogo.png') }}" alt="Image PC" class="default-image banniere">
            <img src="{{ asset('img/BanniereLittleDreamsTel.png') }}" alt="Image Mobile" class="mobile-image banniere">
        </div>
    </header>


    <div class="d-flex flex-wrap justify-content-center">
        {% for item in portfolioItems %}
            <a class="card-link" href="{{ path('app_itemPortfolio_detail', {'id': item.id}) }}">
                <div class="m-2 card" >
                    <div class="card-body">
                        <img src="{{ asset(photo_dir ~ '/' ~ item.photo) }}" class="card-img-top" alt="image" loading="lazy"/>
                        <h5 class="card-title">{{ item.nom }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}