{% extends 'base.html.twig' %}

{% block title %}Studio Little Dreams{% endblock %}

{% block body %}
    <header>
        <div class="div-banniere">
            <img src="{{ asset('img/BanniereLittleDreamsSansLogo.png') }}" alt="Image PC" class="default-image banniere">
            <img src="{{ asset('img/BanniereLittleDreamsTel.png') }}" alt="Image Mobile" class="mobile-image banniere">
        </div>
    </header>


    <div class="d-flex flex-wrap justify-content-center">
        {% for itemPortfolio in itemPortfolios %}
            <a class="card-link" href="{{ path('app_itemPortfolio_detail', {'id': itemPortfolio.id}) }}">
                <div class="m-2 card" style="width: 50rem;">
                    {% if projet.photo %}
                        <img src="{{ asset(photo_dir ~ '/' ~ projet.photo) }}" class="card-img-top" alt="image"
                             loading="lazy"/>
                    {% else %}
                        <img src="{{ asset(photo_dir ~ '/placeholder_img.png') }}" class="card-img-top" alt="image"
                             loading="lazy"/>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ itemPortfolio.nom }}</h5>
                        <div class="pt-3">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary" type="button"
                                    href="{{ path('app_itemPortfolio_update', {'id': itemPortfolio.id }) }}">
                                    <i class="bi bi-feather"></i>
                                </a>
                                <a type="button" class="btn btn-danger"
                                    href="{{ path('app_itemPortfolio_delete', {'id':itemPortfolio.id}) }}"
                                    onclick="return confirm('Etes-vous sûr de vouloir supprimer l\'affichage du projet ?')">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}