{% extends 'base.html.twig' %}

{% block title %}services - LittleDreams{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="background">
            <img src="{{ asset('img/TechBleu.png') }}" alt="image IA" style="height: 100%; width: 100%">
        </div>
        <div class="mb-3 custom-card-profile">
            <div class="row g-0">
                <div class="col-md-4 custom-sidebar">
                    <ul>
                        <li><a href="{{ path('app_profil', {'id': app.user.id }) }}">Mon Profil</a></li>
                        <hr>
                        <li><a href="{{ path('app_profil_creer') }}">Créer un administrateur</a></li>
                        <hr>
                        <li>gestion des services</li>
                        <hr>
                        <li><a href="{{ path('app_portfolio_creer_item') }}">création Item</a></li>
                        <hr>
                        <li><a href="{{ path('app_question_reponse') }}">Repondre aux questions</a></li>
                        <hr>
                        <li><a href="{{ path('app_rendezvous_validation_liste') }}">validation rendez vous</a></li>
                        <hr>
                        <li><a href="{{ path('app_devis_validation_liste') }}">validation devis</a></li>
                        <hr>
                        <li><a href="{{ path('app_projet_valides') }}">projets en cours</a></li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="card-header card-header-custom text-center">
                        <h5 class="card-title mb-0">Services proposés</h5>
                    </div>
                    <div class="card-body m-3">
                        {% for categorie in categories %}
                            <div class="mb-3">
                                <div class="d-flex-service justify-content-between align-items-center">
                                    <div>
                                        <p class="card-text mb-0">{{ categorie.nomCategorie }}</p>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_services_supprimer', {'id': categorie.id }) }}" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center mb-3 m-3">
                        <form action="{{ path('app_services_ajouter') }}" method="post">
                            <div class="row align-items-center">
                                <div class="col-md-12 mb-3 text-center">
                                    <label for="nom_categorie" class="form-label">Nom du service</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="nom_categorie" name="nom_categorie" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <button type="submit" class="btn btn-primary w-100 submit-button">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}