{% extends 'base.html.twig' %}



{% block title %}Demander un devis - LittleDreams{% endblock %}

{% block body %}

    <form method="post">
        <div class="background">
            <img src="{{ asset('img/CircuitsImprimes.png') }}" alt="image IA" style="height: 100%; width: 100%">
        </div>
        <div class="d-flex justify-content-center">
            <div class="border border-0 rounded p-4 form-custom">
                <h3 class="display-6 text-center">Demander un devis</h3>
                {{ form_start(form) }}
                {{ form_row(form.budget) }}
                {{ form_row(form.categorie) }}
                {{ form_row(form.details) }}

                {{ form_widget(form.submit) }} {{ form_widget(form.return) }}
                {{ form_end(form) }}
            </div>
        </div>
    </form>
{% endblock %}
