{% extends 'base.html.twig' %}

{% block title %}services - LittleDreams{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="background">
            <img src="{{ asset('img/TechBleu.png') }}" alt="image IA" style="height: 100%; width: 100%">
        </div>
        <div class="mb-3 custom-card-profile">
            <div class="row g-0">
                <div class="col-md-4 custom-sidebar">
                    <ul>
                        <li><a href="{{ path('app_profil', {'id' : app.user.id }) }}"> Mon Profil</a></li>
                        <hr>
                        <li><a href="{{ path('app_profil_creer') }}">Créer un administrateur</a></li>
                        <hr>
                        <li><a href="{{ path('app_services') }}">gestion des services</a></li>
                        <hr>
                        <li><a href="#">Gestion Portfolio</a></li>
                        <hr>
                        <li><a href="{{ path('app_question_reponse') }}">Repondre aux questions</a></li>
                        <hr>
                        <li><a href="{{ path('app_rendezvous_validation_liste') }}">validation rendez vous</a></li>
                        <hr>
                        <li><a href="{{ path('app_devis_validation_liste') }}">validation devis</a></li>
                        <hr>
                        <li><a href="{{ path('app_projet_valides') }}">projets en cours</a></li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="card-header card-header-custom text-center">
                        <h5 class="card-title mb-0">Liste projets en cours</h5>
                    </div>
                    <div class="card-body">
                        {% if projetsValides is not empty %}
                            {% for projet in projetsValides %}
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <strong>Nom de l'utilisateur:</strong> {{ projet.User.nom }}<br>
                                            <strong>Prénom de l'utilisateur:</strong> {{ projet.User.prenom }}<br>
                                            <strong>Email:</strong> {{ projet.User.email }}<br>
                                            <strong>Numéro de téléphone:</strong> {{ projet.User.telephone }}<br>
                                            <strong>Budget:</strong> {{ projet.budget }}<br>
                                            <strong>Catégorie:</strong> {{ projet.categorie.nomCategorie }}<br>
                                            <strong>Détails:</strong> {{ projet.details }}<br>
                                            {% if projet.dateDebut is not null %}
                                                <strong>Date de début:</strong> {{ projet.dateDebut|date('Y-m-d') }}<br>
                                            {% endif %}

                                            {% if projet.dateFin is not null %}
                                                <strong>Date de fin:</strong> {{ projet.dateFin|date('Y-m-d') }}<br>
                                            {% endif %}

                                            {% if projet.resteAPayer is not null %}
                                                <strong>Reste à payer:</strong> {{ projet.resteAPayer }}<br>
                                            {% endif %}
                                        </p>
                                        <a class="btn btn-primary" type="button"
                                           href="{{ path('app_projet_modifier', {'id': projet.id }) }}"> modifier
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Aucun projet validé pour le moment.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}