<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Studios Little Dreams{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/LogoBlanc.png') }}">

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const navbarToggler = document.getElementById('navbarToggler');
                const bubbleMenu = document.getElementById('bubbleMenu');

                navbarToggler.addEventListener('click', function(event) {
                    event.stopPropagation(); // Empêche le clic de se propager au document
                    bubbleMenu.classList.toggle('active');
                });

                // Ajouter un gestionnaire d'événement de clic au document entier pour fermer le menu lorsqu'on clique à l'extérieur
                document.addEventListener('click', function(event) {
                    if (!bubbleMenu.contains(event.target) && event.target !== navbarToggler) {
                        bubbleMenu.classList.remove('active');
                    }
                });
            });
        </script>
        <script>
            function alertAndRedirect() {
                alert("Vous devez vous connecter avant d'accéder à cette page");
                window.location.href = "{{ path('app_login') }}";
            }
        </script>

    {% endblock %}
</head>
<body>
<header class="flex-wrap justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav">
        <div class="container-fluid">
            <a class="navbar-brand display-6 studio-text" href="{{ path('app_littledreams') }}">
                <img src="{{ asset('img/Logo300x200.png') }}" alt="logo" width="50"
                     class="d-inline-block align-text-center">
                Studio Little Dreams
            </a>
            {% if is_granted('IS_AUTHENTICATED') %}
                <span> [{% for role in app.user.roles %} {{ role }} {% endfor %}]</span>
            {% endif %}
            <!-- Liens de navigation -->
            <!-- Bouton burger -->
            <button class="navbar-toggler" type="button" id="navbarToggler"
                    data-bs-target="#bubbleMenu"
                    aria-controls="bubbleMenu"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           <div class="collapse navbar-collapse bubble-menu" id="bubbleMenu">
                <ul class="navbar-nav d-flex gap-2 ms-auto mb-2 mb-lg-0">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="{{ path('app_profil', {'id' : app.user.id }) }}">Gestion</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                            <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="{{ path('app_profil', {'id' : app.user.id }) }}">Profil</a></li>
                            <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="{{ path('app_rendezvous_demande') }}">rendez-vous</a></li>
                            <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="{{ path('app_devis_demande') }}">Devis</a></li>
                        {% endif %}

                        <li class="btn btn-sm btn-outline-danger"><a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a></li>
                    {% else %}
                        <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" onclick="return alertAndRedirect()">rendez-vous</a></li>
                        <li class="btn btn-sm btn-outline-secondary"><a class="nav-link" onclick="return alertAndRedirect()">Devis</a></li>
                        <li class="btn btn-sm btn-outline-primary"><a class="nav-link submit-button" href="{{ path('app_login') }}">Connexion</a></li>
                        <li class="btn btn-sm btn-outline-primary"><a class="nav-link submit-button" href="{{ path('app_profil_creer') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
</header>


<div class="page-container">
    <div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show flash-message" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div>
        {% block body %}

        {% endblock %}
    </div>
    <div class="question-panel">
        <a class="nav-link vertical-text" href="{{ path('app_question') }}">Une question ?</a>
    </div>
</div>
<footer class="bg-light text-center fixed-bottom">
    <div class="text-center p-2">
        <div class="container">
            {% set year = "now"|date('Y') %}
            <small class="text-muted">&copy; {{ year }} Little Dreams</small>
        </div>
    </div>
</footer>
</body>
</html>