{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Création d'administrateur - LittleDreams
    {% else %}
        Inscription - LittleDreams
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1 class="display-6 text-center">Création d'administrateur</h1>
    {% else %}
        <h1 class="display-6 text-center">Inscription</h1>
    {% endif %}


    <div class="d-flex justify-content-center">
        <div class="border border-0 rounded p-3"
             style="
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: rgba(255,255,255,0.16);
                "
        >
            {{ form_start(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}

            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}



            {% if not is_granted('ROLE_ADMIN') %}
                <br>
                <hr>
                <br>
                {{ form_row(form.telephone) }}
                {{ form_row(form.photo) }}
                {{ form_row(form.nomSociete) }}
                {{ form_row(form.noSiret) }}
                {{ form_row(form.noRue) }}
                {{ form_row(form.rue) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}

            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.estAdmin) }}
            {% endif %}

            {{ form_widget(form.return) }} {{ form_widget(form.submit) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}