{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}modifiet mon profil - LittleDreams{% endblock %}

{% block body %}

    <h1 class="display-6 text-center">Modifier mon profil</h1>

    <div class="d-flex justify-content-center">
        <div class="border border-0 rounded p-3"
             style="
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: rgba(255,255,255,0.16);
                "
        >
            {{ form_start(form) }}
            {% if is_granted("ROLE_ADMIN") %}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.telephone) }}
            {% endif %}
            <p class="card-text">Nom : {{ user.nom }}</p>
            <p class="card-text">Prenom : {{ user.prenom }}</p>
            <p class="card-text">Téléphone : {{ user.telephone }}</p>
            <p class="card-text">Email : {{ user.email }}</p>
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.photo) }}
            <p class="card-text">Nom de société : {{ user.nomSociete }}</p>
            <p class="card-text">N° de Siret : {{ user.noSiret }}</p>
            <p class="card-text">N° de rue : {{ user.noRue }}</p>
            <p class="card-text">Rue : {{ user.rue }}</p>
            <p class="card-text">Code Postal : {{ user.codePostal }}</p>
            <p class="card-text">Ville : {{ user.ville }}</p>

            <p class="card-text"> Si vous souhaitez modifier une information<br> verrouillée, veuillez contacter <a href="#"> un administrateur</a>.</p>
            {% if is_granted("ROLE_ADMIN") %}
                {{ form_row(form.noRue) }}
                {{ form_row(form.rue) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}
            {% endif %}
            {{ form_row(form.estAdmin) }}

            {{ form_widget(form.return) }} {{ form_widget(form.submit) }}

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}