{% extends 'base.html.twig' %}

{% block title %}Profil - LittleDreams{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="background">
            <img src="{{ asset('img/TechBleu.png') }}" alt="image IA" style="height: 100%; width: 100%">
        </div>
        <div class="mb-3 custom-card-profile">
            <div class="row g-0">
                <div class="col-md-4 custom-sidebar">
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li>Mon Profil</li>
                            <hr>
                            <li><a href="{{ path('app_profil_creer') }}">Créer un administrateur</a></li>
                            <hr>
                            <li><a href="{{ path('app_services') }}">gestion des services</a></li>
                            <hr>
                            <li><a href="#">Gestion Portfolio</a></li>
                            <hr>
                            <li><a href="#">Repondre aux questions</a></li>
                            <hr>
                            <li><a href="{{ path('app_rendezvous_validation_liste') }}">validation rendez vous</a></li>
                            <hr>
                            <li><a href="{{ path('app_devis_validation_liste') }}">validation devis</a></li>
                            <hr>
                            <li><a href="{{ path('app_projet_valides') }}">projets en cours</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li>Mon Profil</li>
                            <hr>
                            <li><a href="{{ path('app_mes-questions') }}">Mes questions</a></li>
                            <hr>
                            <li><a href="{{ path('app_rendezvous_personnels', {'id': app.user.id }) }}">Mes rendez-vous</a></li>
                            <hr>
                            <li><a href="{{ path('app_devis_mesprojets', {'id': app.user.id }) }}">Mes projets</a></li>
                        </ul>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-header card-header-custom" ><h5 class="card-title">Mon Profil</h5></div>
                    <div class="card-body">

                        {% if user.photo %}
                            <img src="{{ asset(photo_dir ~ '/' ~ user.photo) }}" class="card-img-top photo-profile-custom" alt="image"
                                 loading="lazy"/>
                        {% else %}
                            <img src="{{ asset(photo_dir ~ '/placeholder_profil_img.png') }}" class="card-img-top photo-profile-custom"
                                 alt="image"
                                 loading="lazy"/>
                        {% endif %}


                        <div class="container-fluid d-flex justify-content-center">
                            {% if is_granted('ROLE_ADMIN') %}
                                <p class="card-text fst-italic">[ {{ user.roles[0] }} ]</p>
                            {% endif %}
                        </div>
                        <div class="card-text-custom">
                            <p class="card-text">Nom : {{ user.nom }}</p>
                            <p class="card-text">Prenom : {{ user.prenom }}</p>
                            <p class="card-text">Téléphone : {{ user.telephone }}</p>
                            <p class="card-text">Email : {{ user.email }}</p>
                            {% if not is_granted('ROLE_ADMIN') %}
                                <hr>
                                <p class="card-text">Nom de société : {{ user.nomSociete }}</p>
                                <p class="card-text">N° de Siret : {{ user.noSiret }}</p>
                                <p class="card-text">N° de rue : {{ user.noRue }}</p>
                                <p class="card-text">Rue : {{ user.rue }}</p>
                                <p class="card-text">Code Postal : {{ user.codePostal }}</p>
                                <p class="card-text">Ville : {{ user.ville }}</p>
                            {% endif %}
                        </div>

                        <div class="custom-profile-button">

                                <a class="btn btn-primary" type="button"
                                   href="{{ path('app_profil_modifier', {'id': user.id }) }}"> modifier
                                </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_profil_supprimer', {'id': user.id}) }}" class="btn btn-danger"
                                   onclick="return confirmDelete();">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                            <script>
                                function confirmDelete() {
                                    return confirm("Etes-vous sûr de vouloir supprimer ce compte?");
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
