{% extends 'base.html.twig' %}

{% block title %}Profil - LittleDreams{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="background">
            <img src="{{ asset('img/TechBleu.png') }}" alt="image IA" style="height: 100%; width: 100%">
        </div>
        <div class="mb-3 custom-card-profile">
            <div class="row g-0">
                <div class="col-md-4 custom-sidebar">
                    <ul>
                        <li>Mon Profil</li>
                        <hr>
                        <li><a href="#">Mes questions</a></li>
                        <hr>
                        <li><a href="#">Mes rendez-vous</a></li>
                        <hr>
                        <li><a href="#">Mes demandes de devis</a></li>
                        <hr>
                        <li><a href="#">Mes projets</a></li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="card-header card-header-custom" ><h5 class="card-title">Mon Profil</h5></div>
                    <div class="card-body">

                        {% if user.photo %}
                            <img src="{{ asset(photo_dir ~ '/' ~ user.photo) }}" class="card-img-top photo-profile-custom" alt="image"
                                 loading="lazy"/>
                        {% else %}
                            <img src="{{ asset(photo_dir ~ '/placeholder_profil_img.png') }}" class="card-img-top"
                                 alt="image"
                                 loading="lazy"/>
                        {% endif %}


                        <div class="container-fluid d-flex justify-content-center">
                            {% if is_granted('ROLE_ADMIN') %}
                                <p class="card-text fst-italic">[ {{ user.roles[0] }} ]</p>
                            {% endif %}
                        </div>
                        <div class="card-text-custom">
                            <p class="card-text">Nom : {{ user.nom }}</p>
                            <p class="card-text">Prenom : {{ user.prenom }}</p>
                            <p class="card-text">Téléphone : {{ user.telephone }}</p>
                            <p class="card-text">Email : {{ user.email }}</p>
                            <hr>
                            <p class="card-text">Nom de société : {{ user.nomSociete }}</p>
                            <p class="card-text">N° de rue : {{ user.noRue }}</p>
                            <p class="card-text">Rue : {{ user.rue }}</p>
                            <p class="card-text">Code Postal : {{ user.codePostal }}</p>
                            <p class="card-text">Ville : {{ user.ville }}</p>

                        </div>

                        <div class="custom-profile-button">
                            <a class="btn btn-primary" type="button"
                               href="{{ path('app_profil_modifier', {'id': user.id }) }}"> modifier
                            </a>

                            <a href="{{ path('app_profil_supprimer', {'id': user.id}) }}" class="btn btn-danger"
                               onclick="return confirmDelete();">
                                <i class="bi bi-trash"></i>
                            </a>
                            <script>
                                function confirmDelete() {
                                    return confirm("Etes-vous sûr de vouloir supprimer votre compte?");
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
